rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() { return request.auth != null; }
    function uid() { return request.auth.uid; }

    match /tpn/{fileName} {
      allow read: if true; // หรือผูกกับ Firestore visibility เพิ่มเติม
      allow write: if isSignedIn();
    }

    match /public/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /private/{userId}/{allPaths=**} {
      allow read, write: if isSignedIn() && userId == uid();
    }
  }
}

